# Python virtual environments
venv/
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Django/Migrations
**/migrations/
!**/migrations/__init__.py

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
*.log